.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font-size: 24px;
    color: #333;
}

.loading-spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid var(--gold);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 2s ease infinite;
}

.big {
    border: 32px solid #f3f3f3;
    border-top: 32px solid var(--gold);
    width: 200px;
    height: 200px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-text {
    margin-top: 20px;
    font-size: 18px;
    color: #bbb;
}