.dateButton {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-align: left;
    padding: 5px 10px;
    font-size: 14px;
    background-color: 'white';
    color: var(--text-color);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}